<div class="social_login">
    
        <a class="google" href="{% url 'users:google-login' %}">
            <img src="/static/img/login_icon1.png"/>
            <span>
                Continue with
            </span>
            <b>
                Google
            </b>
        </a>

        <a class="naver" href="{% url 'users:naver-login' %}">
            <img src="/static/img/login_icon2.png"/>
            <span>
                Continue with
            </span>
            <b>
                Naver
            </b>
        </a>

        <a class="kakao" href="{% url 'users:kakao-login' %}">
            <img src="/static/img/login_icon3.png"/>
            <span>
                Continue with
            </span>
            <b>
                Kakao
            </b>
        </a>
</div>